// https://coolors.co/a59979-796d76-4a484d-fbfbfa-b5b4af
:root {
  --primary-300: #a59979;
  --primary-400: #9a8c69;
  --primary: #847348;
  --primary-600: #8f7f58;
  --primary-700: #847348;
  --primary-800: #786942;
  --primary-800: #6d5f3b;

  --secondary-300: #b0a6ad;
  --secondary-400: #a69ba3;
  --secondary: #9c9099;
  --secondary-600: #93858f;
  --secondary-700: #867982;
  --secondary-800: #796d76;

  --dark-300: #4a484d;
  --dark-400: #363439;
  --dark: #222026;
  --dark-600: #1f1e23;
  --dark-700: #1c1b20;

  --white-100: #fbfbfa;
  --white: #f1f1ee;

  --neutral-200: #e6e4e0;
  --neutral-300: #e3e1dc;
  --neutral-400: #e0ded8;
  --neutral: #dddbd5;
  --neutral-600: #c9c8c2;
  --neutral-700: #b5b4af;
  // --textFont: Roboto, sans-serif;
  --textFont: "Questrial", sans-serif;
  --titleFont: "Playfair Display", "Times New Roman";

  --mobile: 40rem;
  --tablet: 600px;
  --desktop: 120rem;
}
@import "./milligram";
* {
  box-sizing: border-box;
}
body {
  background: radial-gradient(var(--white-100), var(--white));
  width: 100%;
  min-height: 100vh;
  color: var(--dark);
  font-family: var(--textFont);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--titleFont);
  }
  button i {
    font-size: 2rem;
  }
  a {
    color: var(--primary);
    &:hover {
      color: var(--secondary);
    }
  }
}
button {
  border-radius: 0;
  background-color: var(--secondary);
  border-color: var(--secondary-400);
}
@import "../Layout/header";
@import "../Home//home";
